/*.css-selector {
  font-family: 'Font Name', serif;
}*/

/*.center {
  width: 150px;
  margin: 40px auto;
}*/

h1 {
  text-align: center;
}

form {
  margin: auto;
  width: 80%;
}

.input-group {
  width: 150px;
}

.input-number {
  text-align: center;
}

#pizza-size {
  width: 150px;
}

#pizza-output-one {
  width: 80%;
  margin:auto;
}
