/*.css-selector {
  font-family: 'Font Name', serif;
}*/

/*.center {
  width: 150px;
  margin: 40px auto;
}*/

.input-group {
  width: 150px;
}

.input-number {
  text-align: center;
}

#pizza-size {
  width: 150px;
}
